<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2d7ee17-6519-4236-8174-5fb00d2b0b09" Alias="Room Names" Level="1">
  <Info>
    <Name>Room Names</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Atrium"
    },
    {
      "id": 2,
      "value": "Dockside"
    },
    {
      "id": 3,
      "value": "Dry Dock"
    },
    {
      "id": 4,
      "value": "Breakout"
    }
  ]
}]]></Config>
</DataType>