<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c2d003a-3d6c-4990-9f64-43f2b8e67851" Alias="Synonyms" Level="1">
  <Info>
    <Name>Synonyms</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "default",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>