<?xml version="1.0" encoding="utf-8"?>
<DataType Key="336a44e2-0270-4612-8524-cf0a03044a72" Alias="Talk Details" Level="2">
  <Info>
    <Name>Talk Details</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "talkDetails",
      "ncTabAlias": "Content",
      "nameTemplate": "{{talk}}-{{speaker}}-{{roomName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>