<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d24c6a36-420e-4c93-be6b-e621d30addbe" Alias="article" Level="2">
  <Info>
    <Name>Article</Name>
    <Icon>icon-article color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ca0bc685-c42c-42b1-9c53-718ed82e2127">articleControls</Composition>
      <Composition Key="251be93d-0d8e-4554-887f-8f1f90f3a62d">contentControls</Composition>
      <Composition Key="5a48395b-253f-477c-80c8-f4fe07c72404">headerControls</Composition>
      <Composition Key="8d672c6b-a071-4c48-802e-0048c86c737c">mainImageControls</Composition>
      <Composition Key="bb0f4848-179f-4880-8ba2-0d49b7467d2f">sEOControls</Composition>
      <Composition Key="229cfa2d-486b-4d98-ab1e-9b950d490d88">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>article</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="48136c01-041b-45ef-8516-2bd9f40e2e16">article</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>05679745-3aff-4fdc-a267-a13ab4fcf356</Key>
      <Name>Date</Name>
      <Alias>date</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>IOT Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4fc32fc3-b91f-4c05-bc0f-959224e6de05</Key>
      <Name>Exclude from Flash briefing</Name>
      <Alias>excludeFromFlashBriefing</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>IOT Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a7c7346a-ed11-44d8-90cc-5700d05a3f3e</Key>
      <Name>Title</Name>
      <Alias>iotTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>IOT Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>779774be-3b44-4ae7-9191-e92a7bb13ca9</Key>
      <Name>Text Content</Name>
      <Alias>textContent</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>IOT Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>IOT Settings</Caption>
      <SortOrder>6</SortOrder>
    </Tab>
  </Tabs>
</ContentType>