<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7b6dd02b-d275-4a4f-b6a9-0cf01697a2e8" Alias="conferenceSchedule" Level="2">
  <Info>
    <Name>Conference Schedule</Name>
    <Icon>icon-calendar-alt color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>84e07b98-903c-4ba7-adc5-0cd920ffe3ab</Key>
      <Name>Conference End Date</Name>
      <Alias>conferenceEndDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Schedule</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2c5abdf7-d951-482e-a555-adb0ff2d0c8f</Key>
      <Name>Conference Name Synonyms</Name>
      <Alias>conferenceNameSynonyms</Alias>
      <Definition>8c2d003a-3d6c-4990-9f64-43f2b8e67851</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will be used to match up on incoming slot values.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Schedule</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d68d5275-8503-44b7-9f32-35f7b2971a1b</Key>
      <Name>Conference Start Date</Name>
      <Alias>conferenceStartDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Schedule</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1622368a-b642-4469-a85e-be384e8b1fba</Key>
      <Name>Schedule</Name>
      <Alias>schedule</Alias>
      <Definition>6abbb9d8-1dab-4d34-ba94-849800fe37f6</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Schedule</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Schedule</Caption>
      <SortOrder>50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>