<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c4b51843-1f64-478f-8a3d-089b51846303" Alias="contactFormControls" Level="2">
  <Info>
    <Name>Contact Form Controls</Name>
    <Icon>icon-settings color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d9642e95-dd4d-4366-bba7-19ba72edee76</Key>
      <Name>Error Message</Name>
      <Alias>errorMessage</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the message to show on error]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Result Messages</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e8d97564-5733-4d2c-80a5-65c9ada927b8</Key>
      <Name>Success Message</Name>
      <Alias>successMessage</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the message to show on success]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Result Messages</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Result Messages</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>