<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c606854f-10dd-47b9-b4c9-79c36699b5a7" Alias="contact" Level="2">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-message color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c4b51843-1f64-478f-8a3d-089b51846303">contactFormControls</Composition>
      <Composition Key="251be93d-0d8e-4554-887f-8f1f90f3a62d">contentControls</Composition>
      <Composition Key="5a48395b-253f-477c-80c8-f4fe07c72404">headerControls</Composition>
      <Composition Key="8d672c6b-a071-4c48-802e-0048c86c737c">mainImageControls</Composition>
      <Composition Key="bb0f4848-179f-4880-8ba2-0d49b7467d2f">sEOControls</Composition>
      <Composition Key="229cfa2d-486b-4d98-ab1e-9b950d490d88">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>contact</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="35f03901-e549-4f09-b8d8-5cfc3eebd5ec">contact</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>