<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="64e88197-ac99-4f85-bcbd-ee5f13bda43f" Alias="festival" Level="2">
  <Info>
    <Name>Festival</Name>
    <Icon>icon-meeting color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="7b6dd02b-d275-4a4f-b6a9-0cf01697a2e8">conferenceSchedule</Composition>
      <Composition Key="251be93d-0d8e-4554-887f-8f1f90f3a62d">contentControls</Composition>
      <Composition Key="5a48395b-253f-477c-80c8-f4fe07c72404">headerControls</Composition>
      <Composition Key="8d672c6b-a071-4c48-802e-0048c86c737c">mainImageControls</Composition>
      <Composition Key="bb0f4848-179f-4880-8ba2-0d49b7467d2f">sEOControls</Composition>
      <Composition Key="229cfa2d-486b-4d98-ab1e-9b950d490d88">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>Festival</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a7762e14-cc12-4b1b-a841-4565501c3efd">Festival</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ce1845c8-12ea-4559-9fef-15e5af349513</Key>
      <Name>IOT Card Image</Name>
      <Alias>iOTCardImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Schedule</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Schedule</Caption>
      <SortOrder>50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>