<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2c62f3f0-ab7e-428a-a780-d1d597e3c6d9" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="251be93d-0d8e-4554-887f-8f1f90f3a62d">contentControls</Composition>
      <Composition Key="4fa6616c-5aa1-4382-a269-26c7c7a57565">footerControls</Composition>
      <Composition Key="5a48395b-253f-477c-80c8-f4fe07c72404">headerControls</Composition>
      <Composition Key="8d672c6b-a071-4c48-802e-0048c86c737c">mainImageControls</Composition>
      <Composition Key="bb0f4848-179f-4880-8ba2-0d49b7467d2f">sEOControls</Composition>
    </Compositions>
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5f82fc89-3edf-4a88-807e-e9feff53f275">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9db9c9bf-6360-4c13-ba0c-25a950efcb60">articleList</ContentType>
    <ContentType Key="700edc7a-0e55-40e5-95f4-51d094a48d57">codeGarden</ContentType>
    <ContentType Key="c606854f-10dd-47b9-b4c9-79c36699b5a7">contact</ContentType>
    <ContentType Key="956e8f7f-558a-4cbf-a282-ed210fcdec2f">content</ContentType>
    <ContentType Key="061a9c37-010e-405f-a381-f277a9328c08">error</ContentType>
    <ContentType Key="f515d256-858b-4c65-be0b-c47179688fa8">search</ContentType>
    <ContentType Key="13b37467-a910-47f1-85ed-2960f1cb9ea2">xMLSitemap</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>