<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f515d256-858b-4c65-be0b-c47179688fa8" Alias="search" Level="2">
  <Info>
    <Name>Search</Name>
    <Icon>icon-search color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="5a48395b-253f-477c-80c8-f4fe07c72404">headerControls</Composition>
      <Composition Key="8d672c6b-a071-4c48-802e-0048c86c737c">mainImageControls</Composition>
      <Composition Key="bb0f4848-179f-4880-8ba2-0d49b7467d2f">sEOControls</Composition>
      <Composition Key="229cfa2d-486b-4d98-ab1e-9b950d490d88">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>search</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e6e1120a-2533-4638-b099-5e68550b1288">search</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>