<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="229cfa2d-486b-4d98-ab1e-9b950d490d88" Alias="visibilityControls" Level="2">
  <Info>
    <Name>Visibility Controls</Name>
    <Icon>icon-settings color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0cb68fc9-d866-4cb1-821f-0a744ebe27b7</Key>
      <Name>Hide From XML Sitemap</Name>
      <Alias>hideFromXMLSitemap</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tick this if you want to hide this page from the XML sitemap]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Visibility</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>504582f0-2cb2-4e9f-82fe-f0c2a7e60ba1</Key>
      <Name>Umbraco Navi Hide</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tick this box if you want to hide this page from the navigation and from search results]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Visibility</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Visibility</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>